h3 {
width: 150px;
margin: auto;
}

#clutchholder {
margin-left: 500px;
margin-top: 100px;
}

#clutchmaker {
width: 150px;
margin: auto;
}
	
#statbutton {
width: 100%;
margin: auto;
}

.clutchgen {
border-collapse:collapse;
border-spacing:0;
}
	
.clutchgen td{
padding:10px;
border-style:solid;
border-width:1px;
}
	
.label {
font-weight: bold;
}
