body {
margin: 0px;
width: 100%;
background-image: url("https://i.imgur.com/rUQjeBW.png");
font-family:'Arial';
color: #85909d;
}

nav ul, footer ul {
font-family:'Helvetica', 'Arial', 'Sans-Serif';
padding: 0px;
list-style: none;
font-weight: bold;
}

a, a:visited, a:active {
color:#8EAFB6;
text-decoration: none;
}

a:hover {
color:#ffffff;
text-decoration:none;
}

p { 
margin: 2px 2px 2px 2px; 
line-height:14px; 
padding: 0; 
}

#sidebar{
position: fixed;
height: 100%;
width: 350px;
top: 0px;
left: 0px;
padding: 0px;
background-color: rgba(0,0,0,0.4);
border-right: 3px solid #2B2933;
}

#aboutboxholder {
position: fixed;
height: 200px;
width: 300px;
margin-top: 425px;
margin-left: 20px;
}

.navibox {
background-color:#2B2933;
overflow: hidden;
margin-top: 15px;
margin-left: 350px;
}

.navi a {
float: left;
padding-left: 20px;
background-color:#2B2933;
font-family: century gothic;
font-size: 10px;
letter-spacing: 2px;
text-decoration: none;
text-transform: uppercase;
}
     
.navi a:hover {
letter-spacing: 3px;
background-color: #494750;
}
        
.desctitle {
position: absolute;
z-index: 2;
height: auto;
width: 100%;
letter-spacing: 3px;
line-height: 14px;
font-family: century gothic;
font-size: 15px;
text-align: center;
text-transform: uppercase;
border-radius: 0px 0px 0px 0px;
}
     
.descbox {
position: absolute;
padding-top: 15px;
z-index: 1;
overflow: auto;
max-height: 200px;
width: 100%;
margin-top: 16px;
margin-left: auto;
text-align: center;
border-radius: 0px 0px 20px 20px;
}
       
.sideimg {
position: fixed;
width: 340px;
margin-top: 50px;
margin-left: 5px;
background-image: {image:300pxPortrait};
border-radius: 50%;
}
