* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box; 
box-sizing: border-box;
}

body {
  background: rgb(202,247,247);
  background: linear-gradient(270deg, rgba(202,247,247,1) 0%, rgba(218,245,219,1) 49%, rgba(255,202,232,1) 100%);
}

ul {
  list-style: none;
  padding: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  max-width: 300px;  
}

li {
  display: flex;
  border-bottom: 1px solid black;
  padding: 10px;
}

.number {
  margin-left: auto;
}

#clutchwrapper {
  margin: auto;
  background: rgb(255 255 255 / 43%);
  border-radius: 10px;
  width: 60%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

#num-check, #color-checks {
  display: flex;
}

.button {
  background: white;
  border-radius: 4px;
  padding: 5px;
}
