/*
* Dragon Fonts
*/

.zeldeth {
	color: #A39132;
	text-shadow: 0 0 5px #fbdd3e;
	font-style: italic;
    }

.skree {
	color: #1f4e6e;
	text-shadow: 0 0 5px #12364E;
    }

.imp {
	color: #AC543A;
    }

.dunecaith {
	color: #ce622c;
    }

.rae {
	color: #324F17;
    }

.xiki {
	color: #CC7F32;
    }

.merv {
	color: #556B2F;
    }

.olly {
	color: #5f1914;
    }

.mijath {
	color: #82511d;
	font-style: italic;
    }

.quoya {
	color: #ffd700;
    }

.cali {
	color: #b97527;
    }

.rhoney {
	background-color: #A6D2E1;
	color: #072B4B;
    }

.retith {
	color: #79973F;
    }

.sae {
	color: #005A12;
	text-shadow: 0 0 5px #087e20;
	font-style: italic;
    }

.mari {
	color: #00CBF3;
	font-style: italic;
    }

.bray {
	color: #4edb4f;
	text-shadow: 0 0 5px #8af244;
    }

.qhy {
	background-color: #191970;
	color: #00FFD2;
	text-shadow: 0 0 5px #00FFD2;
    }

.molek {
	color: #665D1E;
	text-shadow: 0 0 5px #8f7827;
	font-style: italic;
    }

.lagunath {
	color: #6c4e09;
    }

.misk {
	color: #d87a0b;
	font-style: italic;
	text-shadow: 0 0 5px #d87a0b;
    }

.ixtab {
	color: yellow;
	text-shadow: 0 0 5px yellow;
    }

.kuroth {
	color: #614BAC;
	text-shadow: 0 0 5px #614BAC;
    }

.nirask {
	color: #22514c;
}

.cyrith {
	color: #445762;
	font-style: italic;
}

.ornith {
	color: #b4c3b5;
	font-weight: bold;
}