* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box; 
box-sizing: border-box;
}

#frame {
    background: white;
    display: flex;
    border-radius: 10px;
    padding: 20px;
    margin-left: auto;
}

#wrapper {
    width: 90%;
    margin: auto;
    background: skyblue;
    border-radius: 10px;
    padding: 60px;
}

.base {
    position: relative;
}

.clothes {
    position: absolute;
    left: 0;
    top: 0;
}

#selectors ul {
    list-style: none;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

#selectors ul li {
    height: 50px;
    width: 50px;
    border: 2px solid black;
    border-radius: 5px;
}

#selectors ul li img {
    height: 100%;
    width: auto;
}

.bottom, .top, .hat, .sock, .shoe, .neck, .ear, .expression, .makeup, .nails {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

#longskirt, #shortskirt {
    z-index: 4;
}

.bottom {
    z-index: 1;
}

.top, .sock {
    z-index: 2;
}

#t4, #t5, #t6, .shoe {
    z-index: 3;
}

.neck {
    z-index: 6;
}

#selectors {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
